In [1]:
import pandas as pd
import numpy as np

# Merge

Concat
pandas provides various facilities for easily combining together Series and DataFrame objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

In [2]:
df = pd.DataFrame(np.random.randn(10, 4))

In [3]:
df

          0         1         2         3
0  0.136625 -1.266487 -0.908494 -1.483551
1 -1.153745 -0.942613 -0.138115 -1.707224
2  0.396179  0.555093  0.242411 -0.431572
3  0.892690 -2.699911 -1.034669 -0.145568
4  0.751973 -0.776477  2.622689  2.153321
5  0.734454  0.810480  0.382698  0.248675
6  0.007886 -0.455446 -1.569409  1.926598
7 -0.403427 -0.248940 -0.436583 -1.429189
8  0.613212  2.320398 -0.301005 -0.293470
9  0.868683 -0.701239 -0.401258 -0.231561

In [9]:
pieces = [df[:3],df[7:]]

In [10]:
pieces

[          0         1         2         3
 0  0.136625 -1.266487 -0.908494 -1.483551
 1 -1.153745 -0.942613 -0.138115 -1.707224
 2  0.396179  0.555093  0.242411 -0.431572,
           0         1         2         3
 7 -0.403427 -0.248940 -0.436583 -1.429189
 8  0.613212  2.320398 -0.301005 -0.293470
 9  0.868683 -0.701239 -0.401258 -0.231561]

In [11]:
pd.concat(pieces)

          0         1         2         3
0  0.136625 -1.266487 -0.908494 -1.483551
1 -1.153745 -0.942613 -0.138115 -1.707224
2  0.396179  0.555093  0.242411 -0.431572
7 -0.403427 -0.248940 -0.436583 -1.429189
8  0.613212  2.320398 -0.301005 -0.293470
9  0.868683 -0.701239 -0.401258 -0.231561

In [15]:
a=pd.DataFrame(np.random.randn(2, 5))
b=pd.DataFrame(np.random.randn(3, 4))
a

          0         1         2         3         4
0 -0.858441  0.089935  2.607763 -0.523784 -0.744132
1  2.233903  0.336792 -0.542962 -1.023202 -0.921415

In [16]:
b

          0         1         2         3
0 -0.270965 -1.214064 -3.090182  0.649824
1 -0.400086  0.883333 -0.046470 -1.022964
2 -2.105837 -0.256538  0.590643 -0.528299

In [17]:
pd.concat([a,b])

          0         1         2         3         4
0 -0.858441  0.089935  2.607763 -0.523784 -0.744132
1  2.233903  0.336792 -0.542962 -1.023202 -0.921415
0 -0.270965 -1.214064 -3.090182  0.649824       NaN
1 -0.400086  0.883333 -0.046470 -1.022964       NaN
2 -2.105837 -0.256538  0.590643 -0.528299       NaN

## Join

In [19]:
left = pd.DataFrame({"Date":[1,2,3],
                     "B":[3,4,5]})
right = pd.DataFrame({"Date":[1,3,4],
                     "D":[3,4,6]})
print("Left\n",left)
print("Right\n",right)
pd.merge(left,right,on="Date")

Left
    Date  B
0     1  3
1     2  4
2     3  5
Right
    Date  D
0     1  3
1     3  4
2     4  6

   Date  B  D
0     1  3  3
1     3  5  4

## Dropping Entries from an Axis
The drop method will return a new object with the indicated value or values deleted from
an axis:

In [22]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
print(obj)
new_obj = obj.drop(list('abd'))
print(new_obj)

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64
c    2.0
e    4.0
dtype: float64

In [29]:
obj = pd.DataFrame(np.random.randn(3,5),columns=['a', 'b', 'c', 'd', 'e'])
print(obj)
new_obj = obj.drop('c',axis=1)
new_obj

          a         b         c         d         e
0 -1.344555  0.014816 -0.409023 -0.222331  0.215066
1  1.317913  0.271364 -0.554340  0.947056 -0.543206
2  1.883897 -0.994391 -0.043137 -0.272179  1.021887

          a         b         d         e
0 -1.344555  0.014816 -0.222331  0.215066
1  1.317913  0.271364  0.947056 -0.543206
2  1.883897 -0.994391 -0.272179  1.021887

Grouping
By “group by” we are referring to a process involving one or more of the following steps:

Splitting the data into groups based on some criteria

Applying a function to each group independently

Combining the results into a data structure

In [113]:
df = pd.DataFrame(
   ....:     {
   ....:         "Gender": ["M", "F"]*4,
   ....:         "Smoke": ["Smoker", "NonSmoker", "Nonsmoker", "Smoker"]*2,
   ....:         "ConcA": np.random.randn(8),
   ....:         "ConcB": np.random.randn(8),
   ....:         "ConcC": np.random.randn(8),       
   ....:     }
   ....: )

In [114]:
df

  Gender      Smoke     ConcA     ConcB     ConcC
0      M     Smoker -0.294064 -0.919675  1.151036
1      F  NonSmoker -1.131907  2.097439  0.921025
2      M  Nonsmoker  1.761838 -1.027970  1.364921
3      F     Smoker -0.058353 -0.363206 -1.400560
4      M     Smoker  1.498642 -1.238495 -0.577447
5      F  NonSmoker  0.146548 -0.907396  0.859668
6      M  Nonsmoker -0.226925  0.091950  0.992178
7      F     Smoker  0.460312  0.861410 -1.227863

In [115]:
df.groupby("Gender").sum()

           ConcA     ConcB     ConcC
Gender
F      -0.583400  1.688246 -0.847731
M       2.739491 -3.094190  2.930688

In [116]:
df.groupby("Gender").mean()

           ConcA     ConcB     ConcC
Gender
F      -0.145850  0.422062 -0.211933
M       0.684873 -0.773547  0.732672

In [117]:
df.groupby(["Gender", "Smoke"]).describe().T

Gender              F                   M
Smoke       NonSmoker    Smoker Nonsmoker    Smoker
ConcA count  2.000000  2.000000  2.000000  2.000000
      mean  -0.492679  0.200979  0.767457  0.602289
      std    0.904004  0.366752  1.406268  1.267635
      min   -1.131907 -0.058353 -0.226925 -0.294064
      25%   -0.812293  0.071313  0.270266  0.154112
      50%   -0.492679  0.200979  0.767457  0.602289
      75%   -0.173066  0.330646  1.264647  1.050466
      max    0.146548  0.460312  1.761838  1.498642
ConcB count  2.000000  2.000000  2.000000  2.000000
      mean   0.595022  0.249102 -0.468010 -1.079085
      std    2.124739  0.865934  0.791903  0.225440
      min   -0.907396 -0.363206 -1.027970 -1.238495
      25%   -0.156187 -0.057052 -0.747990 -1.158790
      50%    0.595022  0.249102 -0.468010 -1.079085
      75%    1.346231  0.555256 -0.188030 -0.999380
      max    2.097439  0.861410  0.091950 -0.919675
ConcC count  2.000000  2.000000  2.000000  2.000000
      mean   0.890346 -1.314212  1.178550  0.286794
      std    0.043386  0.122115  0.263569  1.222222
      min    0.859668 -1.400560  0.992178 -0.577447
      25%    0.875007 -1.357386  1.085364 -0.145326
      50%    0.890346 -1.314212  1.178550  0.286794
      75%    0.905685 -1.271038  1.271736  0.718915
      max    0.921025 -1.227863  1.364921  1.151036

In [118]:
df.groupby("Gender").describe().T

Gender              F         M
ConcA count  4.000000  4.000000
      mean  -0.145850  0.684873
      std    0.691109  1.097234
      min   -1.131907 -0.294064
      25%   -0.326742 -0.243710
      50%    0.044097  0.635859
      75%    0.224989  1.564441
      max    0.460312  1.761838
ConcB count  4.000000  4.000000
      mean   0.422062 -0.773547
      std    1.339654  0.591987
      min   -0.907396 -1.238495
      25%   -0.499254 -1.080601
      50%    0.249102 -0.973822
      75%    1.170417 -0.666768
      max    2.097439  0.091950
ConcC count  4.000000  4.000000
      mean  -0.211933  0.732672
      std    1.274999  0.886665
      min   -1.400560 -0.577447
      25%   -1.271038  0.599772
      50%   -0.184098  1.071607
      75%    0.875007  1.204507
      max    0.921025  1.364921

In [119]:
df
df2=df.iloc[:,2:]
df2.apply(sum) # Column Sum

ConcA    2.156091
ConcB   -1.405943
ConcC    2.082957
dtype: float64

In [120]:
df2.apply(sum,axis=1) # Row Sum

0   -0.062703
1    1.886557
2    2.098790
3   -1.822120
4   -0.317300
5    0.098820
6    0.857203
7    0.093859
dtype: float64

In [111]:
f = lambda x: x.max() - x.min()

In [121]:
df2.apply(f,axis=1)

0    2.070711
1    3.229346
2    2.789808
3    1.342207
4    2.737138
5    1.767064
6    1.219104
7    2.089273
dtype: float64

In [122]:
def f2(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

In [124]:
df2.apply(f2,axis=1)

        min       max
0 -0.919675  1.151036
1 -1.131907  2.097439
2 -1.027970  1.761838
3 -1.400560 -0.058353
4 -1.238495  1.498642
5 -0.907396  0.859668
6 -0.226925  0.992178
7 -1.227863  0.861410

In [125]:
df2.apply(f2,axis=1)

        min       max
0 -0.919675  1.151036
1 -1.131907  2.097439
2 -1.027970  1.761838
3 -1.400560 -0.058353
4 -1.238495  1.498642
5 -0.907396  0.859668
6 -0.226925  0.992178
7 -1.227863  0.861410

Element-wise Python functions can be used, too. Suppose you wanted to compute a
formatted string from each floating-point value in frame. You can do this with apply
map:

In [126]:
print(df2)
format = lambda x: '%.3f' % x
df2.applymap(format)

      ConcA     ConcB     ConcC
0 -0.294064 -0.919675  1.151036
1 -1.131907  2.097439  0.921025
2  1.761838 -1.027970  1.364921
3 -0.058353 -0.363206 -1.400560
4  1.498642 -1.238495 -0.577447
5  0.146548 -0.907396  0.859668
6 -0.226925  0.091950  0.992178
7  0.460312  0.861410 -1.227863

    ConcA   ConcB   ConcC
0  -0.294  -0.920   1.151
1  -1.132   2.097   0.921
2   1.762  -1.028   1.365
3  -0.058  -0.363  -1.401
4   1.499  -1.238  -0.577
5   0.147  -0.907   0.860
6  -0.227   0.092   0.992
7   0.460   0.861  -1.228

The reason for the name applymap is that Series has a map method for applying an
element-wise function:

In [129]:
df2['ConcA'].map(format)

0    -0.294
1    -1.132
2     1.762
3    -0.058
4     1.499
5     0.147
6    -0.227
7     0.460
Name: ConcA, dtype: object

In [130]:
df

  Gender      Smoke     ConcA     ConcB     ConcC
0      M     Smoker -0.294064 -0.919675  1.151036
1      F  NonSmoker -1.131907  2.097439  0.921025
2      M  Nonsmoker  1.761838 -1.027970  1.364921
3      F     Smoker -0.058353 -0.363206 -1.400560
4      M     Smoker  1.498642 -1.238495 -0.577447
5      F  NonSmoker  0.146548 -0.907396  0.859668
6      M  Nonsmoker -0.226925  0.091950  0.992178
7      F     Smoker  0.460312  0.861410 -1.227863

In [132]:
def fun(x):
    if x=="M":
        return "Male"
    elif x=="F":
        return "Female"

df["Gender2"]=df["Gender"].map(fun)
df

  Gender      Smoke     ConcA     ConcB     ConcC Gender2
0      M     Smoker -0.294064 -0.919675  1.151036    Male
1      F  NonSmoker -1.131907  2.097439  0.921025  Female
2      M  Nonsmoker  1.761838 -1.027970  1.364921    Male
3      F     Smoker -0.058353 -0.363206 -1.400560  Female
4      M     Smoker  1.498642 -1.238495 -0.577447    Male
5      F  NonSmoker  0.146548 -0.907396  0.859668  Female
6      M  Nonsmoker -0.226925  0.091950  0.992178    Male
7      F     Smoker  0.460312  0.861410 -1.227863  Female

## Sorting and Ranking

In [68]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [69]:
obj.sort_index(ascending=False)

d    0
c    3
b    2
a    1
dtype: int64

In [70]:
# To sort a Series by its values, use its sort_values method:
obj = pd.Series([4, 7, -3, 2])
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [71]:
# Any missing values are sorted to the end of the Series by default:
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
obj.sort_values()

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

When sorting a DataFrame, you can use the data in one or more columns as the sort
keys. To do so, pass one or more column names to the by option of sort_values:

In [72]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})

In [73]:
frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [74]:
frame.sort_values(by='b')

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

Ranking assigns ranks from one through the number of valid data points in an array.
The rank methods for Series and DataFrame are the place to look; by default rank
breaks ties by assigning each group the mean rank:

In [138]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
print(obj.rank())

obj.rank(method="first")

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [78]:
#read_table
#read_excel
#read_html
#read_clipboard

In [147]:
data=pd.read_csv("amoxilin.csv",index_col=["Subject","Formulation","Period"])
data

,,,0,0.5,1,1.25,1.5,1.75,2,2.25,2.5,2.75,3,3.5,4,6,8,12
Subject,Formulation,Period,,,,,,,,,,,,,,,,
1,Test,2,0,1.652340,2.384981,3.780645,5.517781,8.609406,10.422649,9.787805,8.806071,7.563232,6.414091,5.938373,4.282872,2.454816,0.934545,0.326262
2,Test,1,0,1.032693,2.219324,3.818052,4.937696,6.574222,5.941353,5.240379,4.971180,4.342627,4.127262,3.416272,2.817170,1.180448,0.767159,0.321333
3,Test,2,0,1.130816,1.415226,2.168639,3.389043,8.016167,7.603657,6.541776,5.921493,4.971069,4.231900,4.083737,3.928272,1.840186,0.935474,0.388844
4,Test,1,0,1.229355,1.898862,2.262202,3.332999,4.108077,5.536978,6.119145,5.681547,4.758395,4.324526,3.922720,2.846464,1.029106,0.567226,0.099486
5,Test,1,0,1.046983,1.293995,1.855862,2.957138,4.530976,5.549441,7.880192,6.922572,5.866582,4.937360,4.782726,3.292800,1.148182,0.746206,0.317039
6,Test,2,0,1.632752,2.487935,4.118870,5.849744,8.873396,10.867879,9.943202,8.739006,7.814542,6.670269,4.033830,2.018200,1.940400,0.521310,0.435360
7,Test,1,0,1.569123,2.138715,4.978905,6.503580,9.883970,8.424341,7.987335,7.252420,6.991249,5.092563,4.158315,3.253230,1.950774,0.999046,0.416161
8,Test,2,0,1.104251,1.697531,2.818769,3.988333,6.044878,7.410368,8.119549,6.579347,5.315732,4.529967,3.088948,2.929374,1.478562,0.970673,0.314100
9,Test,1,0,1.081754,1.817275,2.993345,4.163370,7.295195,6.772505,5.891078,5.446337,4.656848,4.179581,3.750005,3.372721,1.510317,0.851317,0.355088
10,Test,2,0,0.966270,1.140897,1.701115,2.748743,4.280008,6.250041,6.924685,5.121052,4.937374,4.782720,4.324252,2.985857,1.104522,0.801403,0.455674
11,Test,1,0,1.625491,2.476871,4.100552,5.823729,8.833934,10.819547,10.660127,8.700141,7.779789,6.640605,4.869278,3.993032,2.654329,0.784746,0.142626
12,Test,2,0,1.455902,1.877916,2.916144,4.483466,6.914407,8.313779,8.794695,6.838364,6.267826,5.518823,4.680711,3.132014,2.524315,0.849465,0.436300
13,Test,2,0,1.861434,2.703181,5.584849,6.165442,10.484260,9.594601,8.989353,8.371127,7.165643,5.926739,5.495047,3.760047,2.407249,0.636360,0.425262
14,Test,1,0,1.653250,2.327261,3.553614,5.274191,7.633646,9.330764,8.522930,7.846920,6.728550,5.401492,4.409612,3.261324,2.227893,1.219540,0.345262
15,Test,2,0,1.897100,2.818415,5.268445,6.523410,7.210204,9.484242,10.279061,9.289612,8.133199,6.839299,3.048474,2.192830,1.038370,0.633440,0.397353
16,Test,1,0,1.209732,2.495142,4.144349,6.168140,7.235299,6.412081,5.667427,5.160261,4.365030,3.259462,2.998065,1.985227,1.326663,0.543536,0.366321
17,Test,1,0,1.015526,1.229402,1.794474,2.877727,4.442244,5.266212,6.032756,5.901981,4.958750,4.561620,3.927270,1.662306,1.135308,0.566637,0.311402
18,Test,2,0,1.431871,2.181839,3.612117,5.130038,7.781685,9.530782,9.048903,7.663828,6.853103,5.849612,4.983736,2.530281,1.521988,0.846737,0.305981
19,Test,1,0,1.022854,1.353533,2.124718,3.223449,4.957950,5.902825,7.581819,6.116254,4.411073,4.220354,4.032161,3.599782,2.819190,1.003111,0.300000
20,Test,2,0,1.182609,2.396333,4.081978,6.364161,8.238263,7.231274,6.859193,6.278629,5.825844,5.320279,4.951894,3.028270,1.038300,0.763535,0.426000
21,Test,2,0,0.885763,1.685286,2.980067,3.895483,5.797154,7.252722,8.026357,7.958542,4.929471,4.041323,3.982722,1.652224,1.363823,0.586722,0.254603
22,Test,1,0,0.978266,2.355060,3.422233,5.782867,7.333141,6.754570,6.143107,5.623822,5.197474,4.838370,3.973630,2.817363,1.118233,0.674884,0.461331
23,Test,2,0,1.585446,2.415852,3.999534,5.680260,8.616308,10.553004,10.397512,8.485811,7.588131,6.477012,4.242560,3.102820,1.028270,0.849447,0.314256
24,Test,1,0,1.349811,2.517794,4.383810,6.038816,8.350900,7.587084,6.933295,6.385070,5.576049,4.674857,4.155581,2.854212,1.617382,0.618260,0.417638
1,Reference,1,0,0.667782,1.393677,2.520252,3.201739,4.731312,5.965738,6.857432,6.518883,3.969564,3.201879,2.917157,1.285418,0.968695,0.682535,0.160540
2,Reference,2,0,1.291488,2.524889,4.273660,6.673890,8.720534,7.804970,7.053872,6.674898,5.270146,4.718034,3.811429,2.749314,1.526262,0.524242,0.357300
3,Reference,1,0,1.734779,2.643400,4.376248,6.215280,9.427872,11.546985,11.376847,9.285084,8.302853,7.087077,4.832950,3.023477,2.309953,0.937730,0.498490
4,Reference,2,0,1.359275,2.094000,3.479593,4.918955,7.453902,9.139678,10.018224,8.549375,6.552493,5.581730,4.390063,2.827400,1.357186,0.850353,0.386590
5,Reference,2,0,1.141633,2.179892,3.969040,5.842632,7.941030,7.187392,6.281170,5.596275,4.961031,4.242559,3.141657,2.124490,1.523260,0.542423,0.363069
6,Reference,1,0,1.140325,2.730393,4.860655,6.070015,8.176148,7.561096,6.264960,5.394766,5.442927,4.649493,3.170770,1.985101,1.514451,0.539845,0.439811
7,Reference,2,0,1.263741,1.738605,3.171424,4.177246,6.824929,7.531318,7.000555,6.353635,5.194966,4.285763,3.498460,2.435292,1.585404,0.563383,0.446628
8,Reference,1,0,0.993086,1.284393,2.772806,4.783991,6.926409,6.196111,5.524679,4.719162,4.170022,3.360149,2.442773,1.639055,1.041139,0.676654,0.292098
9,Reference,2,0,1.543528,2.124446,3.999573,4.928602,9.543293,8.871580,8.011605,7.372730,6.260623,5.240250,4.406627,2.945104,1.836353,0.701328,0.339296
10,Reference,1,0,1.049302,1.398968,1.882325,2.926221,4.181042,5.120346,5.987266,5.570507,4.179075,3.450106,2.483334,1.613708,1.064868,0.514220,0.230138
11,Reference,2,0,0.865681,1.138965,2.736027,4.199387,5.728519,8.125318,7.055226,5.967948,4.582565,3.618745,2.187427,1.628197,0.892528,0.517282,0.447276
12,Reference,1,0,1.735952,2.579006,4.820919,5.969282,9.617105,10.165994,9.405910,8.500510,7.442328,6.258338,5.240668,3.798559,2.589780,0.938374,0.424960
13,Reference,1,0,0.667782,1.393677,2.520252,3.201739,4.731312,5.965738,6.857432,6.518883,3.969564,3.201879,2.981716,2.585418,0.768695,0.682535,0.160540
14,Reference,2,0,1.291488,2.524889,4.273660,6.673890,7.720534,7.104970,6.538719,5.974898,5.270146,4.718034,3.811429,2.749314,1.973000,0.562524,0.398575
15,Reference,1,0,1.734779,2.643400,4.376248,6.215280,9.427872,11.546985,10.376847,9.285084,8.302853,7.087077,4.832950,3.023477,2.309953,0.897650,0.459672
16,Reference,2,0,1.251709,1.884507,3.597006,4.885094,7.741348,7.535738,7.332654,6.426035,5.654610,4.600703,3.665756,2.927260,1.646551,0.634343,0.361783
17,Reference,2,0,1.147179,1.435705,2.200020,3.438084,5.319280,6.284736,7.730566,6.007179,4.775753,4.293137,2.932066,1.898428,1.355931,0.522670,0.441960
18,Reference,1,0,1.140325,2.730393,6.860655,8.070015,7.776148,6.561096,5.964960,5.394766,4.842927,4.149493,3.170770,1.985101,1.514451,0.539845,0.439811
19,Reference,2,0,1.334677,2.022091,3.547635,6.185439,8.886220,8.192287,7.477869,6.600195,5.673579,4.933323,3.501123,2.354531,1.480102,0.534330,0.314857
20,Reference,1,0,0.757245,1.580387,2.857889,3.630674,5.365162,6.764963,7.776117,7.392213,4.501363,3.630832,2.845925,1.682388,0.941184,0.561951,0.182048
21,Reference,1,0,1.680214,2.560256,4.238600,6.019789,9.131334,11.183794,11.019007,8.993037,8.041700,6.864165,4.778193,2.989221,1.927270,0.524220,0.464740
22,Reference,2,0,1.273876,1.941091,3.213549,4.563980,6.923039,8.479137,8.354202,6.818187,6.096919,5.204155,2.733856,1.671449,0.837613,0.572486,0.180864
23,Reference,1,0,1.268307,1.704419,3.386189,4.856297,8.234851,7.533845,6.768142,6.045946,5.215322,4.300200,3.424700,2.292079,1.616071,0.688991,0.315697
24,Reference,2,0,1.461847,2.420763,4.043167,9.136041,8.500770,7.963878,7.311263,6.936452,5.708497,5.295614,4.344814,3.100064,1.986621,0.500360,0.448010

In [148]:
data.groupby(["Formulation","Period"]).describe().T

Formulation  Reference                  Test
Period               1          2          1          2
0  count     12.000000  12.000000  12.000000  12.000000
   mean       0.000000   0.000000   0.000000   0.000000
   std        0.000000   0.000000   0.000000   0.000000
   min        0.000000   0.000000   0.000000   0.000000
   25%        0.000000   0.000000   0.000000   0.000000
...                ...        ...        ...        ...
12 min        0.160540   0.180864   0.099486   0.254603
   25%        0.218116   0.352799   0.308552   0.314217
   50%        0.370328   0.374830   0.333297   0.393099
   75%        0.444776   0.443127   0.378781   0.428340
   max        0.498490   0.448010   0.461331   0.455674

[128 rows x 4 columns]

In [149]:
main_data=data.iloc[:,3:]

In [150]:
main_data

,,,1.25,1.5,1.75,2,2.25,2.5,2.75,3,3.5,4,6,8,12
Subject,Formulation,Period,,,,,,,,,,,,,
1,Test,2,3.780645,5.517781,8.609406,10.422649,9.787805,8.806071,7.563232,6.414091,5.938373,4.282872,2.454816,0.934545,0.326262
2,Test,1,3.818052,4.937696,6.574222,5.941353,5.240379,4.971180,4.342627,4.127262,3.416272,2.817170,1.180448,0.767159,0.321333
3,Test,2,2.168639,3.389043,8.016167,7.603657,6.541776,5.921493,4.971069,4.231900,4.083737,3.928272,1.840186,0.935474,0.388844
4,Test,1,2.262202,3.332999,4.108077,5.536978,6.119145,5.681547,4.758395,4.324526,3.922720,2.846464,1.029106,0.567226,0.099486
5,Test,1,1.855862,2.957138,4.530976,5.549441,7.880192,6.922572,5.866582,4.937360,4.782726,3.292800,1.148182,0.746206,0.317039
6,Test,2,4.118870,5.849744,8.873396,10.867879,9.943202,8.739006,7.814542,6.670269,4.033830,2.018200,1.940400,0.521310,0.435360
7,Test,1,4.978905,6.503580,9.883970,8.424341,7.987335,7.252420,6.991249,5.092563,4.158315,3.253230,1.950774,0.999046,0.416161
8,Test,2,2.818769,3.988333,6.044878,7.410368,8.119549,6.579347,5.315732,4.529967,3.088948,2.929374,1.478562,0.970673,0.314100
9,Test,1,2.993345,4.163370,7.295195,6.772505,5.891078,5.446337,4.656848,4.179581,3.750005,3.372721,1.510317,0.851317,0.355088
10,Test,2,1.701115,2.748743,4.280008,6.250041,6.924685,5.121052,4.937374,4.782720,4.324252,2.985857,1.104522,0.801403,0.455674
11,Test,1,4.100552,5.823729,8.833934,10.819547,10.660127,8.700141,7.779789,6.640605,4.869278,3.993032,2.654329,0.784746,0.142626
12,Test,2,2.916144,4.483466,6.914407,8.313779,8.794695,6.838364,6.267826,5.518823,4.680711,3.132014,2.524315,0.849465,0.436300
13,Test,2,5.584849,6.165442,10.484260,9.594601,8.989353,8.371127,7.165643,5.926739,5.495047,3.760047,2.407249,0.636360,0.425262
14,Test,1,3.553614,5.274191,7.633646,9.330764,8.522930,7.846920,6.728550,5.401492,4.409612,3.261324,2.227893,1.219540,0.345262
15,Test,2,5.268445,6.523410,7.210204,9.484242,10.279061,9.289612,8.133199,6.839299,3.048474,2.192830,1.038370,0.633440,0.397353
16,Test,1,4.144349,6.168140,7.235299,6.412081,5.667427,5.160261,4.365030,3.259462,2.998065,1.985227,1.326663,0.543536,0.366321
17,Test,1,1.794474,2.877727,4.442244,5.266212,6.032756,5.901981,4.958750,4.561620,3.927270,1.662306,1.135308,0.566637,0.311402
18,Test,2,3.612117,5.130038,7.781685,9.530782,9.048903,7.663828,6.853103,5.849612,4.983736,2.530281,1.521988,0.846737,0.305981
19,Test,1,2.124718,3.223449,4.957950,5.902825,7.581819,6.116254,4.411073,4.220354,4.032161,3.599782,2.819190,1.003111,0.300000
20,Test,2,4.081978,6.364161,8.238263,7.231274,6.859193,6.278629,5.825844,5.320279,4.951894,3.028270,1.038300,0.763535,0.426000
21,Test,2,2.980067,3.895483,5.797154,7.252722,8.026357,7.958542,4.929471,4.041323,3.982722,1.652224,1.363823,0.586722,0.254603
22,Test,1,3.422233,5.782867,7.333141,6.754570,6.143107,5.623822,5.197474,4.838370,3.973630,2.817363,1.118233,0.674884,0.461331
23,Test,2,3.999534,5.680260,8.616308,10.553004,10.397512,8.485811,7.588131,6.477012,4.242560,3.102820,1.028270,0.849447,0.314256
24,Test,1,4.383810,6.038816,8.350900,7.587084,6.933295,6.385070,5.576049,4.674857,4.155581,2.854212,1.617382,0.618260,0.417638
1,Reference,1,2.520252,3.201739,4.731312,5.965738,6.857432,6.518883,3.969564,3.201879,2.917157,1.285418,0.968695,0.682535,0.160540
2,Reference,2,4.273660,6.673890,8.720534,7.804970,7.053872,6.674898,5.270146,4.718034,3.811429,2.749314,1.526262,0.524242,0.357300
3,Reference,1,4.376248,6.215280,9.427872,11.546985,11.376847,9.285084,8.302853,7.087077,4.832950,3.023477,2.309953,0.937730,0.498490
4,Reference,2,3.479593,4.918955,7.453902,9.139678,10.018224,8.549375,6.552493,5.581730,4.390063,2.827400,1.357186,0.850353,0.386590
5,Reference,2,3.969040,5.842632,7.941030,7.187392,6.281170,5.596275,4.961031,4.242559,3.141657,2.124490,1.523260,0.542423,0.363069
6,Reference,1,4.860655,6.070015,8.176148,7.561096,6.264960,5.394766,5.442927,4.649493,3.170770,1.985101,1.514451,0.539845,0.439811
7,Reference,2,3.171424,4.177246,6.824929,7.531318,7.000555,6.353635,5.194966,4.285763,3.498460,2.435292,1.585404,0.563383,0.446628
8,Reference,1,2.772806,4.783991,6.926409,6.196111,5.524679,4.719162,4.170022,3.360149,2.442773,1.639055,1.041139,0.676654,0.292098
9,Reference,2,3.999573,4.928602,9.543293,8.871580,8.011605,7.372730,6.260623,5.240250,4.406627,2.945104,1.836353,0.701328,0.339296
10,Reference,1,1.882325,2.926221,4.181042,5.120346,5.987266,5.570507,4.179075,3.450106,2.483334,1.613708,1.064868,0.514220,0.230138
11,Reference,2,2.736027,4.199387,5.728519,8.125318,7.055226,5.967948,4.582565,3.618745,2.187427,1.628197,0.892528,0.517282,0.447276
12,Reference,1,4.820919,5.969282,9.617105,10.165994,9.405910,8.500510,7.442328,6.258338,5.240668,3.798559,2.589780,0.938374,0.424960
13,Reference,1,2.520252,3.201739,4.731312,5.965738,6.857432,6.518883,3.969564,3.201879,2.981716,2.585418,0.768695,0.682535,0.160540
14,Reference,2,4.273660,6.673890,7.720534,7.104970,6.538719,5.974898,5.270146,4.718034,3.811429,2.749314,1.973000,0.562524,0.398575
15,Reference,1,4.376248,6.215280,9.427872,11.546985,10.376847,9.285084,8.302853,7.087077,4.832950,3.023477,2.309953,0.897650,0.459672
16,Reference,2,3.597006,4.885094,7.741348,7.535738,7.332654,6.426035,5.654610,4.600703,3.665756,2.927260,1.646551,0.634343,0.361783
17,Reference,2,2.200020,3.438084,5.319280,6.284736,7.730566,6.007179,4.775753,4.293137,2.932066,1.898428,1.355931,0.522670,0.441960
18,Reference,1,6.860655,8.070015,7.776148,6.561096,5.964960,5.394766,4.842927,4.149493,3.170770,1.985101,1.514451,0.539845,0.439811
19,Reference,2,3.547635,6.185439,8.886220,8.192287,7.477869,6.600195,5.673579,4.933323,3.501123,2.354531,1.480102,0.534330,0.314857
20,Reference,1,2.857889,3.630674,5.365162,6.764963,7.776117,7.392213,4.501363,3.630832,2.845925,1.682388,0.941184,0.561951,0.182048
21,Reference,1,4.238600,6.019789,9.131334,11.183794,11.019007,8.993037,8.041700,6.864165,4.778193,2.989221,1.927270,0.524220,0.464740
22,Reference,2,3.213549,4.563980,6.923039,8.479137,8.354202,6.818187,6.096919,5.204155,2.733856,1.671449,0.837613,0.572486,0.180864
23,Reference,1,3.386189,4.856297,8.234851,7.533845,6.768142,6.045946,5.215322,4.300200,3.424700,2.292079,1.616071,0.688991,0.315697
24,Reference,2,4.043167,9.136041,8.500770,7.963878,7.311263,6.936452,5.708497,5.295614,4.344814,3.100064,1.986621,0.500360,0.448010

In [153]:
data.groupby("Formulation").sum()

,0,0.5,1,1.25,1.5,1.75,2,2.25,2.5,2.75,3,3.5,4,6,8,12
Formulation,,,,,,,,,,,,,,,,
Reference,0,29.795998,48.672211,87.977392,126.783563,179.029966,190.333691,184.345526,162.896651,134.381823,113.972737,85.546614,57.313847,36.567321,15.210274,8.554752
Test,0,31.601392,49.328627,82.463286,116.819604,172.045692,188.812701,188.371677,166.061388,142.997582,122.860086,101.249919,71.298693,39.458624,18.670780,8.333683